html{
    scroll-behavior: smooth;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: orange;
    color: white;
    padding: 10px 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
footer {
    background-color: orange;
    color: white;
    height: 50px;
    padding: 5px;
}
#home{
    height: 500px;
    padding: 50px;
}
.card-home{
    position: absolute;
    height: 500px;
    width: 650px;
    top: 100px;
    right: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-color: solid black;
    z-index: -1;
}
.card-home .ratings1{
    position: absolute;
    height: 60px;
    bottom: 60px;
    right: 85px;
}
.card-home .ratings2{
    position: absolute;
    height: 60px;
    bottom: 60px;
    left: 85px;
}
.card-home h1{
    position: absolute;
    right: 250px;
    color: red;
    top: 0;
}
.bestseller1{
    position: absolute;
    top: 70px;
    right: 70px;
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    transition: ease-out 0.3s;
    z-index: -1;
}
.bestseller1 h2{
    color: orange;
}
.bestseller2 h2{
    color: orange;
}
.bestseller2{
    position: absolute;
    top: 70px;
    left: 70px;
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    transition: ease-out 0.3s;
    z-index: -1;
}
#menu{
    height: 1100px;
    padding-top: 80px;
    padding-bottom: 80px;
}
#contact{
    height: 500px;
    height: 500px;
}
nav {
    margin-right: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a { 
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: ease-out 0.1s;
    margin-left: 35px;
}

nav a:hover{
    color: red;
    border: solid white;
    background-color: white;
    padding: 2px 8px;
    border-radius: 10px;
}
nav h1{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
    margin: 0;
}
nav h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: orange;
    animation: showleft 1s ease forwards;
    animation-delay: .5s;
}
.logo{
    position: relative;
    width: 100px;
    height: auto;
}
.logo2{
    position: absolute;
    top: 100px;
    border-radius: 100%;
    display: flex;
    height: 370px;
    width: 400px;
    left: 140px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: orange;
    z-index: -1;
}
#home .text{
    position: absolute;
    top: 470px;
    left: 60px;
    z-index: -1;
}
#home .text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 550px;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showleft 1s ease forwards;
    animation-delay: .5s;
}

a{
    text-decoration: none;
    color: black;
}
.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.item {
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    transition: ease-out 0.3s;
}
.item:hover{
    background-color: #e9e8e8;
    padding: 45px;
}
.food-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.copyright{
    position: absolute;
    left: 100px;
}

@keyframes showleft{
    100%{
        width: 0;
    }
}
